In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
file = '../data/Total_consumption_Coal_gas_petroleum_Texas_monthly.csv'
filePop = '../data/population_out_yr.csv'

out_file = '../data/Total_consumption_Coal_gas_petroleum_population_Texas_monthly.csv'

In [3]:
data = pd.read_csv(file)
data.head()

   year month      Coal         gas  petroleum  Av Temp  Max Temp  Min Temp
0  2001   Jan  8002.784  147019.775   2583.823     43.9      54.3      33.5
1  2001   Feb  7220.569  126392.659    486.212     51.9      63.5      40.4
2  2001   Mar  7610.386  144803.647    257.670     53.3      64.0      42.6
3  2001   Apr  6900.272  155112.540    139.903     67.8      79.9      55.6
4  2001   May  8163.586  174142.911     65.535     74.1      86.4      61.8

In [17]:
len(data)

217

In [4]:
dataPop = pd.read_csv(filePop)
dataPop.head()

   year  population
0  1960   9579677.0
1  1961   9741382.3
2  1962   9903087.6
3  1963  10064792.9
4  1964  10226498.2

In [5]:
# Define interpolation function
def interpolation(x1,x2,y1,y2, x):
    y = y1 + (y2 - y1)/(x2-x1) * (x - x1)
    return y


interpY = interpolation(2011,2012,0,10, 2011.1)
print(interpY)

0.9999999999990905

29087070.0

In [14]:
yr_interp = []
mo_interp = []

pop_yr =  dataPop['year']

step = 1/12

start_yr = 2001
end_yr  =  2019

yr = start_yr

tmp_interp = []

while yr < end_yr:
    yr1 = yr
    yr2 = yr + 1
    
    idx1 = dataPop[dataPop['year'] == yr1].index
    idx2 = dataPop[dataPop['year'] == yr2].index
    pop1 = dataPop['population'].iloc[idx1].values[0]
    pop2 = dataPop['population'].iloc[idx2].values[0]    
    
    #print (yr1, pop1)
    #print(yr2, pop2)
    for i in range (12):
        tmp =  interpolation(yr1, yr2, pop1, pop2, yr1+i*step)
        tmp_interp.append(tmp)
        yr_interp.append(yr1)
        mo_interp.append(i+1)
        print(yr1 ,i+1, tmp)

    yr = yr2
    
yr_interp.append(2019)
mo_interp.append(1)
tmp_interp.append(dataPop[dataPop['year'] == 2019]['population'].values[0])

2001 1 21274049.67
2001 2 21309235.474999968
2001 3 21344421.280000035
2001 4 21379607.085
2001 5 21414792.889999967
2001 6 21449978.695000034
2001 7 21485164.5
2001 8 21520350.304999966
2001 9 21555536.110000033
2001 10 21590721.915
2001 11 21625907.719999965
2001 12 21661093.525000032
2002 1 21696279.33
2002 2 21731465.1358333
2002 3 21766650.941666696
2002 4 21801836.7475
2002 5 21837022.5533333
2002 6 21872208.359166697
2002 7 21907394.165
2002 8 21942579.9708333
2002 9 21977765.776666697
2002 10 22012951.5825
2002 11 22048137.388333302
2002 12 22083323.194166698
2003 1 22118509.0
2003 2 22154545.333333302
2003 3 22190581.666666698
2003 4 22226618.0
2003 5 22262654.333333302
2003 6 22298690.666666698
2003 7 22334727.0
2003 8 22370763.333333302
2003 9 22406799.666666698
2003 10 22442836.0
2003 11 22478872.333333302
2003 12 22514908.666666698
2004 1 22550945.0
2004 2 22586981.333333302
2004 3 22623017.666666698
2004 4 22659054.0
2004 5 22695090.333333302
2004 6 22731126.666666698
2004 7 22767163.0
2004 8 22803199.333333302
2004 9 22839235.666666698
2004 10 22875272.0
2004 11 22911308.333333302
2004 12 22947344.666666698
2005 1 22983381.0
2005 2 23019417.333333302
2005 3 23055453.666666698
2005 4 23091490.0
2005 5 23127526.333333302
2005 6 23163562.666666698
2005 7 23199599.0
2005 8 23235635.333333302
2005 9 23271671.666666698
2005 10 23307708.0
2005 11 23343744.333333302
2005 12 23379780.666666698
2006 1 23415817.0
2006 2 23451853.333333302
2006 3 23487889.666666698
2006 4 23523926.0
2006 5 23559962.333333302
2006 6 23595998.666666698
2006 7 23632035.0
2006 8 23668071.333333302
2006 9 23704107.666666698
2006 10 23740144.0
2006 11 23776180.333333302
2006 12 23812216.666666698
2007 1 23848253.0
2007 2 23884289.333333302
2007 3 23920325.666666698
2007 4 23956362.0
2007 5 23992398.333333302
2007 6 24028434.666666698
2007 7 24064471.0
2007 8 24100507.333333302
2007 9 24136543.666666698
2007 10 24172580.0
2007 11 24208616.333333302
2007 12 24244652.666666698
2008 1 24280689.0
2008 2 24316725.333333302
2008 3 24352761.666666698
2008 4 24388798.0
2008 5 24424834.333333302
2008 6 24460870.666666698
2008 7 24496907.0
2008 8 24532943.333333302
2008 9 24568979.666666698
2008 10 24605016.0
2008 11 24641052.333333302
2008 12 24677088.666666698
2009 1 24713125.0
2009 2 24749161.333333302
2009 3 24785197.666666698
2009 4 24821234.0
2009 5 24857270.333333302
2009 6 24893306.666666698
2009 7 24929343.0
2009 8 24965379.333333302
2009 9 25001415.666666698
2009 10 25037452.0
2009 11 25073488.333333302
2009 12 25109524.666666698
2010 1 25145561.0
2010 2 25187283.166666627
2010 3 25229005.333333373
2010 4 25270727.5
2010 5 25312449.666666627
2010 6 25354171.833333373
2010 7 25395894.0
2010 8 25437616.166666627
2010 9 25479338.333333373
2010 10 25521060.5
2010 11 25562782.666666627
2010 12 25604504.833333373
2011 1 25646227.0
2011 2 25683176.416666634
2011 3 25720125.833333366
2011 4 25757075.25
2011 5 25794024.666666634
2011 6 25830974.083333366
2011 7 25867923.5
2011 8 25904872.916666634
2011 9 25941822.333333366
2011 10 25978771.75
2011 11 26015721.166666634
2011 12 26052670.583333366
2012 1 26089620.0
2012 2 26122940.333333302
2012 3 26156260.666666698
2012 4 26189581.0
2012 5 26222901.333333302
2012 6 26256221.666666698
2012 7 26289542.0
2012 8 26322862.333333302
2012 9 26356182.666666698
2012 10 26389503.0
2012 11 26422823.333333302
2012 12 26456143.666666698
2013 1 26489464.0
2013 2 26530103.833333295
2013 3 26570743.666666705
2013 4 26611383.5
2013 5 26652023.333333295
2013 6 26692663.166666705
2013 7 26733303.0
2013 8 26773942.833333295
2013 9 26814582.666666705
2013 10 26855222.5
2013 11 26895862.333333295
2013 12 26936502.166666705
2014 1 26977142.0
2014 2 27019614.666666627
2014 3 27062087.333333373
2014 4 27104560.0
2014 5 27147032.666666627
2014 6 27189505.333333373
2014 7 27231978.0
2014 8 27274450.666666627
2014 9 27316923.333333373
2014 10 27359396.0
2014 11 27401868.666666627
2014 12 27444341.333333373
2015 1 27486814.0
2015 2 27524370.499999966
2015 3 27561927.000000034
2015 4 27599483.5
2015 5 27637039.999999966
2015 6 27674596.500000034
2015 7 27712153.0
2015 8 27749709.499999966
2015 9 27787266.000000034
2015 10 27824822.5
2015 11 27862378.999999966
2015 12 27899935.500000034
2016 1 27937492.0
2016 2 27969594.083333302
2016 3 28001696.166666698
2016 4 28033798.25
2016 5 28065900.333333302
2016 6 28098002.416666698
2016 7 28130104.5
2016 8 28162206.583333302
2016 9 28194308.666666698
2016 10 28226410.75
2016 11 28258512.833333306
2016 12 28290614.916666694
2017 1 28322717.0
2017 2 28354310.99999997
2017 3 28385905.00000003
2017 4 28417499.0
2017 5 28449092.99999997
2017 6 28480687.00000003
2017 7 28512281.0
2017 8 28543874.99999997
2017 9 28575469.00000003
2017 10 28607063.0
2017 11 28638656.99999997
2017 12 28670251.00000003
2018 1 28701845.0
2018 2 28733947.083333302
2018 3 28766049.166666698
2018 4 28798151.25
2018 5 28830253.333333302
2018 6 28862355.416666698
2018 7 28894457.5
2018 8 28926559.583333302
2018 9 28958661.666666698
2018 10 28990763.75
2018 11 29022865.833333306
2018 12 29054967.916666694

In [16]:
pop_interp_mo = pd.DataFrame ( {
    'year': yr_interp, 
    'month':mo_interp, 
    'population': tmp_interp
})

pop_interp_mo

     year  month    population
0    2001      1  2.127405e+07
1    2001      2  2.130924e+07
2    2001      3  2.134442e+07
3    2001      4  2.137961e+07
4    2001      5  2.141479e+07
5    2001      6  2.144998e+07
6    2001      7  2.148516e+07
7    2001      8  2.152035e+07
8    2001      9  2.155554e+07
9    2001     10  2.159072e+07
10   2001     11  2.162591e+07
11   2001     12  2.166109e+07
12   2002      1  2.169628e+07
13   2002      2  2.173147e+07
14   2002      3  2.176665e+07
15   2002      4  2.180184e+07
16   2002      5  2.183702e+07
17   2002      6  2.187221e+07
18   2002      7  2.190739e+07
19   2002      8  2.194258e+07
20   2002      9  2.197777e+07
21   2002     10  2.201295e+07
22   2002     11  2.204814e+07
23   2002     12  2.208332e+07
24   2003      1  2.211851e+07
25   2003      2  2.215455e+07
26   2003      3  2.219058e+07
27   2003      4  2.222662e+07
28   2003      5  2.226265e+07
29   2003      6  2.229869e+07
..    ...    ...           ...
187  2016      8  2.816221e+07
188  2016      9  2.819431e+07
189  2016     10  2.822641e+07
190  2016     11  2.825851e+07
191  2016     12  2.829061e+07
192  2017      1  2.832272e+07
193  2017      2  2.835431e+07
194  2017      3  2.838591e+07
195  2017      4  2.841750e+07
196  2017      5  2.844909e+07
197  2017      6  2.848069e+07
198  2017      7  2.851228e+07
199  2017      8  2.854387e+07
200  2017      9  2.857547e+07
201  2017     10  2.860706e+07
202  2017     11  2.863866e+07
203  2017     12  2.867025e+07
204  2018      1  2.870184e+07
205  2018      2  2.873395e+07
206  2018      3  2.876605e+07
207  2018      4  2.879815e+07
208  2018      5  2.883025e+07
209  2018      6  2.886236e+07
210  2018      7  2.889446e+07
211  2018      8  2.892656e+07
212  2018      9  2.895866e+07
213  2018     10  2.899076e+07
214  2018     11  2.902287e+07
215  2018     12  2.905497e+07
216  2019      1  2.908707e+07

[217 rows x 3 columns]

In [25]:
pop_interp_mo.to_csv('pop_monthly.csv')

In [24]:
pd.concat([data,pop_interp_mo])

C:\Users\Mitsu\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,Av Temp,Coal,Max Temp,Min Temp,gas,month,petroleum,population,year
0,43.9,8002.784,54.3,33.5,147019.775,Jan,2583.823,NaN,2001
1,51.9,7220.569,63.5,40.4,126392.659,Feb,486.212,NaN,2001
2,53.3,7610.386,64.0,42.6,144803.647,Mar,257.670,NaN,2001
3,67.8,6900.272,79.9,55.6,155112.540,Apr,139.903,NaN,2001
4,74.1,8163.586,86.4,61.8,174142.911,May,65.535,NaN,2001
5,80.9,8515.072,93.2,68.5,192696.004,Jun,32.646,NaN,2001
6,85.1,9325.170,97.4,72.7,236109.652,Jul,27.770,NaN,2001
7,82.8,9099.212,94.7,70.9,237944.547,Aug,34.644,NaN,2001
8,74.9,8250.066,86.6,63.1,181522.560,Sep,17.615,NaN,2001
9,65.4,6828.589,79.1,51.7,163557.882,Oct,35.783,NaN,2001
10,58.9,7010.164,69.9,47.9,137883.978,Nov,89.692,NaN,2001
11,49.4,8198.057,61.3,37.4,138915.012,Dec,33.846,NaN,2001
12,48.7,7881.152,61.7,35.7,147754.305,Jan,37.122,NaN,2002
13,47.1,7445.423,60.6,33.7,129186.358,Feb,131.091,NaN,2002
14,55.4,7075.996,69.0,41.7,145888.783,Mar,198.907,NaN,2002
15,69.1,7188.881,80.6,57.5,154883.652,Apr,56.434,NaN,2002
16,74.0,8435.380,86.5,61.4,166769.648,May,31.867,NaN,2002
17,80.6,8850.979,92.4,68.8,197363.891,Jun,32.536,NaN,2002
18,80.9,9173.533,91.3,70.6,225315.393,Jul,37.325,NaN,2002
19,82.8,9198.243,94.7,71.0,233057.250,Aug,47.254,NaN,2002
20,76.0,8458.070,88.2,63.9,188347.159,Sep,44.800,NaN,2002
21,64.9,7784.255,74.1,55.6,161033.533,Oct,49.316,NaN,2002
22,53.0,7591.186,64.9,41.0,142892.553,Nov,59.890,NaN,2002
23,47.8,8780.632,59.3,36.3,136893.259,Dec,67.793,NaN,2002
24,46.2,9453.196,58.6,33.7,146297.149,Jan,145.092,NaN,2003
25,48.3,7516.398,59.3,37.3,134239.506,Feb,749.350,NaN,2003
26,57.2,6865.839,69.9,44.5,138921.068,Mar,409.470,NaN,2003
27,66.6,7629.428,80.2,52.9,135505.813,Apr,108.747,NaN,2003
28,75.8,8649.123,88.2,63.3,178066.623,May,470.316,NaN,2003
29,78.5,9074.080,90.0,66.9,179699.177,Jun,634.307,NaN,2003
...,...,...,...,...,...,...,...,...,...
187,NaN,NaN,NaN,NaN,NaN,8,NaN,2.816221e+07,2016
188,NaN,NaN,NaN,NaN,NaN,9,NaN,2.819431e+07,2016
189,NaN,NaN,NaN,NaN,NaN,10,NaN,2.822641e+07,2016
190,NaN,NaN,NaN,NaN,NaN,11,NaN,2.825851e+07,2016
191,NaN,NaN,NaN,NaN,NaN,12,NaN,2.829061e+07,2016
192,NaN,NaN,NaN,NaN,NaN,1,NaN,2.832272e+07,2017
193,NaN,NaN,NaN,NaN,NaN,2,NaN,2.835431e+07,2017
194,NaN,NaN,NaN,NaN,NaN,3,NaN,2.838591e+07,2017
195,NaN,NaN,NaN,NaN,NaN,4,NaN,2.841750e+07,2017
196,NaN,NaN,NaN,NaN,NaN,5,NaN,2.844909e+07,2017
197,NaN,NaN,NaN,NaN,NaN,6,NaN,2.848069e+07,2017
198,NaN,NaN,NaN,NaN,NaN,7,NaN,2.851228e+07,2017
199,NaN,NaN,NaN,NaN,NaN,8,NaN,2.854387e+07,2017
200,NaN,NaN,NaN,NaN,NaN,9,NaN,2.857547e+07,2017
201,NaN,NaN,NaN,NaN,NaN,10,NaN,2.860706e+07,2017
202,NaN,NaN,NaN,NaN,NaN,11,NaN,2.863866e+07,2017
203,NaN,NaN,NaN,NaN,NaN,12,NaN,2.867025e+07,2017
204,NaN,NaN,NaN,NaN,NaN,1,NaN,2.870184e+07,2018
205,NaN,NaN,NaN,NaN,NaN,2,NaN,2.873395e+07,2018
206,NaN,NaN,NaN,NaN,NaN,3,NaN,2.876605e+07,2018
207,NaN,NaN,NaN,NaN,NaN,4,NaN,2.879815e+07,2018
208,NaN,NaN,NaN,NaN,NaN,5,NaN,2.883025e+07,2018
209,NaN,NaN,NaN,NaN,NaN,6,NaN,2.886236e+07,2018
210,NaN,NaN,NaN,NaN,NaN,7,NaN,2.889446e+07,2018
211,NaN,NaN,NaN,NaN,NaN,8,NaN,2.892656e+07,2018
212,NaN,NaN,NaN,NaN,NaN,9,NaN,2.895866e+07,2018
213,NaN,NaN,NaN,NaN,NaN,10,NaN,2.899076e+07,2018
214,NaN,NaN,NaN,NaN,NaN,11,NaN,2.902287e+07,2018
215,NaN,NaN,NaN,NaN,NaN,12,NaN,2.905497e+07,2018
216,NaN,NaN,NaN,NaN,NaN,1,NaN,2.908707e+07,2019

In [20]:
merge_data = pd.merge(data , pop_interp_mo, right_on='year', left_on = 'year', how = 'inner')
len(merge_data)

2593

In [22]:
merge_data.dropna()
merge_data.drop_duplicates()

,year,month_x,Coal,gas,petroleum,Av Temp,Max Temp,Min Temp,month_y,population
0,2001,Jan,8002.784,147019.775,2583.823,43.9,54.3,33.5,1,2.127405e+07
1,2001,Jan,8002.784,147019.775,2583.823,43.9,54.3,33.5,2,2.130924e+07
2,2001,Jan,8002.784,147019.775,2583.823,43.9,54.3,33.5,3,2.134442e+07
3,2001,Jan,8002.784,147019.775,2583.823,43.9,54.3,33.5,4,2.137961e+07
4,2001,Jan,8002.784,147019.775,2583.823,43.9,54.3,33.5,5,2.141479e+07
5,2001,Jan,8002.784,147019.775,2583.823,43.9,54.3,33.5,6,2.144998e+07
6,2001,Jan,8002.784,147019.775,2583.823,43.9,54.3,33.5,7,2.148516e+07
7,2001,Jan,8002.784,147019.775,2583.823,43.9,54.3,33.5,8,2.152035e+07
8,2001,Jan,8002.784,147019.775,2583.823,43.9,54.3,33.5,9,2.155554e+07
9,2001,Jan,8002.784,147019.775,2583.823,43.9,54.3,33.5,10,2.159072e+07
10,2001,Jan,8002.784,147019.775,2583.823,43.9,54.3,33.5,11,2.162591e+07
11,2001,Jan,8002.784,147019.775,2583.823,43.9,54.3,33.5,12,2.166109e+07
12,2001,Feb,7220.569,126392.659,486.212,51.9,63.5,40.4,1,2.127405e+07
13,2001,Feb,7220.569,126392.659,486.212,51.9,63.5,40.4,2,2.130924e+07
14,2001,Feb,7220.569,126392.659,486.212,51.9,63.5,40.4,3,2.134442e+07
15,2001,Feb,7220.569,126392.659,486.212,51.9,63.5,40.4,4,2.137961e+07
16,2001,Feb,7220.569,126392.659,486.212,51.9,63.5,40.4,5,2.141479e+07
17,2001,Feb,7220.569,126392.659,486.212,51.9,63.5,40.4,6,2.144998e+07
18,2001,Feb,7220.569,126392.659,486.212,51.9,63.5,40.4,7,2.148516e+07
19,2001,Feb,7220.569,126392.659,486.212,51.9,63.5,40.4,8,2.152035e+07
20,2001,Feb,7220.569,126392.659,486.212,51.9,63.5,40.4,9,2.155554e+07
21,2001,Feb,7220.569,126392.659,486.212,51.9,63.5,40.4,10,2.159072e+07
22,2001,Feb,7220.569,126392.659,486.212,51.9,63.5,40.4,11,2.162591e+07
23,2001,Feb,7220.569,126392.659,486.212,51.9,63.5,40.4,12,2.166109e+07
24,2001,Mar,7610.386,144803.647,257.670,53.3,64.0,42.6,1,2.127405e+07
25,2001,Mar,7610.386,144803.647,257.670,53.3,64.0,42.6,2,2.130924e+07
26,2001,Mar,7610.386,144803.647,257.670,53.3,64.0,42.6,3,2.134442e+07
27,2001,Mar,7610.386,144803.647,257.670,53.3,64.0,42.6,4,2.137961e+07
28,2001,Mar,7610.386,144803.647,257.670,53.3,64.0,42.6,5,2.141479e+07
29,2001,Mar,7610.386,144803.647,257.670,53.3,64.0,42.6,6,2.144998e+07
...,...,...,...,...,...,...,...,...,...,...
2563,2018,Oct,6476.976,165499.401,8.295,65.4,74.6,56.2,8,2.892656e+07
2564,2018,Oct,6476.976,165499.401,8.295,65.4,74.6,56.2,9,2.895866e+07
2565,2018,Oct,6476.976,165499.401,8.295,65.4,74.6,56.2,10,2.899076e+07
2566,2018,Oct,6476.976,165499.401,8.295,65.4,74.6,56.2,11,2.902287e+07
2567,2018,Oct,6476.976,165499.401,8.295,65.4,74.6,56.2,12,2.905497e+07
2568,2018,Nov,6356.268,145459.215,15.142,52.0,63.9,40.1,1,2.870184e+07
2569,2018,Nov,6356.268,145459.215,15.142,52.0,63.9,40.1,2,2.873395e+07
2570,2018,Nov,6356.268,145459.215,15.142,52.0,63.9,40.1,3,2.876605e+07
2571,2018,Nov,6356.268,145459.215,15.142,52.0,63.9,40.1,4,2.879815e+07
2572,2018,Nov,6356.268,145459.215,15.142,52.0,63.9,40.1,5,2.883025e+07
2573,2018,Nov,6356.268,145459.215,15.142,52.0,63.9,40.1,6,2.886236e+07
2574,2018,Nov,6356.268,145459.215,15.142,52.0,63.9,40.1,7,2.889446e+07
2575,2018,Nov,6356.268,145459.215,15.142,52.0,63.9,40.1,8,2.892656e+07
2576,2018,Nov,6356.268,145459.215,15.142,52.0,63.9,40.1,9,2.895866e+07
2577,2018,Nov,6356.268,145459.215,15.142,52.0,63.9,40.1,10,2.899076e+07
2578,2018,Nov,6356.268,145459.215,15.142,52.0,63.9,40.1,11,2.902287e+07
2579,2018,Nov,6356.268,145459.215,15.142,52.0,63.9,40.1,12,2.905497e+07
2580,2018,Dec,6363.717,152711.229,9.930,48.3,59.2,37.4,1,2.870184e+07
2581,2018,Dec,6363.717,152711.229,9.930,48.3,59.2,37.4,2,2.873395e+07
2582,2018,Dec,6363.717,152711.229,9.930,48.3,59.2,37.4,3,2.876605e+07
2583,2018,Dec,6363.717,152711.229,9.930,48.3,59.2,37.4,4,2.879815e+07
2584,2018,Dec,6363.717,152711.229,9.930,48.3,59.2,37.4,5,2.883025e+07
2585,2018,Dec,6363.717,152711.229,9.930,48.3,59.2,37.4,6,2.886236e+07
2586,2018,Dec,6363.717,152711.229,9.930,48.3,59.2,37.4,7,2.889446e+07
2587,2018,Dec,6363.717,152711.229,9.930,48.3,59.2,37.4,8,2.892656e+07
2588,2018,Dec,6363.717,152711.229,9.930,48.3,59.2,37.4,9,2.895866e+07
2589,2018,Dec,6363.717,152711.229,9.930,48.3,59.2,37.4,10,2.899076e+07
2590,2018,Dec,6363.717,152711.229,9.930,48.3,59.2,37.4,11,2.902287e+07
2591,2018,Dec,6363.717,152711.229,9.930,48.3,59.2,37.4,12,2.905497e+07
2592,2019,Jan,5854.458,164538.439,10.217,47.2,58.8,35.6,1,2.908707e+07

In [ ]:
merge_data.to_csv(out_file,index=False)